.Accordion {
  width: 500px;
  min-height: 150px;
  margin: auto;
  padding: 10px;
  background-color: PeachPuff;
}

.Accordion button {
  width: 150px;
  line-height: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid red;
  cursor: pointer;
}

.Accordion__content {
  border: 2px dashed white;
  background-color: DarkSlateBlue;
  color: white;
  padding: 20px;
  transition: transform 500ms ease;
}


.Accordion__content-enter {
  transform: translateX(-100%);
}

.Accordion__content-enter-active {
  transform: translateX(0);
}

.Accordion__content-leave {
  transform: translateY(0);
}

.Accordion__content-leave-active {
  transform: translateY(-500px);
}